<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
  </head>
  <body>
    <div id="mainContainer">
      <div id="pages">
        Page:
        <span id="currentPage"><%= @page %></span> /
        <span id="maxPage"><%= @max_page %></span>
      </div>

      <form action="/shop" method="GET">
        Username:
        <input type="text" name="username"></input>
        <input type="submit" value="Go!"></input>
      </form>

      <div id="container">
        <div id="category_container">
          <ul id="categories">
            <% @shop_categories.each do |shop_category| %>
              <li><a href="<%= "/shop/#{params[:username]}/#{shop_category.id}/1" %>"><%= shop_category.name %></a></li>
            <% end %>
          </ul>
        </div>
        <div id="product_container">
          <div style="text-align: center;" id="pagination_container">
            <% if @page > 1 %>
              <span id="back_button"><a href="<%= "/shop/#{params[:username]}/#{@shop_category.id}/#{@page+1}" %>">Zurück</a></span>&nbsp;&nbsp;&nbsp;
            <% end %>
            <% if @page < @max_page %>
              <span id="forward_button"><a href="<%= "/shop/#{params[:username]}/#{@shop_category.id}/#{@page-1}" %>">Weiter (To be fixed)</a></span>
            <% end %>
          </div>
          <ul id="products">
            
            <% if @products.size == 0 %>
              <li>Currently no data!</li>
            <% else %>
              <% @products.each do |product| %>
                <li>
                  <a href="http://<%= Dawanda.country %>.dawanda.com/product/<%= product.id %>" target="_blank">
                    <img border='0' src="<%= product.images.first["image_160x120"] %>">
                  </a>
                  <span><%= product.name[0..25] %></span>
                  <span><%= product.shop.user.name[0...20] %></span>
                  <span style='float:right'><%= product.price["cents"].to_i/100 %> <%= product.price["currency_code"] %></span>
                </li>
              <% end %>
            <% end %>
            
            <div style='clear:both;'></div>
          </ul>
          <div style="clear: both"></div>
        </div>
      </div>
      <div style="clear: both"></div>
    </div>
  </body>
</html>